<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card mt-3 mb-3" style="width: 18rem">
                <div class="card-header bg-warning">
                    Inicio de Sesión {{user}}
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <input [(ngModel)]="user" type="text" class="form-control" placeholder="nombre de usuario">
                    </div>
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-lock-fill"></i>
                        </div>
                        <input [(ngModel)]="pass" type="password" class="form-control" placeholder="contraseña">
                    </div>
                </div>
                <div class="card-footer">
                    <button  (click)="entrar()" class="btn btn-outline-warning">Entrar</button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>