<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card mt-3 mb-3">
                <div class="card-header bg-warning">Agregar Mensaje</div>
                <div class="card-body"><textarea name="" id="" cols="30" rows="5" class="form-control"></textarea></div>
            </div>
            <div class="card-footer"><button class="btn btn-outline-warning float-end">Enviar</button></div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <table class="table table-light table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Mensaje</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem animi molestiae soluta iste perferendis vel mollitia at eaque, nisi, sit dolorum dolorem laborum sed esse quas dolore voluptate a. Aspernatur!</td>
                    <td>Senaida
                        <img src="https://thiscatdoesnotexist.com" alt="" class="rounded" width="100px" height="100px">
                    </td>
                    <td>30-08-2022</td>
                    <td>
                        <button class="btn btn-outline-success"><i class="bi bi-pencil-fill"></i></button>
                        
                        <button class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem animi molestiae soluta iste perferendis vel mollitia at eaque, nisi, sit dolorum dolorem laborum sed esse quas dolore voluptate a. Aspernatur!</td>
                    <td>Pinky
                        <img src="https://thiscatdoesnotexist.com" alt="" class="rounded" width="100px" height="100px">
                    </td>
                    <td>30-08-2022</td>
                    <td>
                        <button class="btn btn-outline-success"><i class="bi bi-pencil-fill"></i></button>
                        
                        <button class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem animi molestiae soluta iste perferendis vel mollitia at eaque, nisi, sit dolorum dolorem laborum sed esse quas dolore voluptate a. Aspernatur!</td>
                    <td>Borona
                        <img src="https://thiscatdoesnotexist.com" alt="" class="rounded" width="100px" height="100px">
                    </td>
                    <td>30-08-2022</td>
                    <td>
                        <button class="btn btn-outline-success"><i class="bi bi-pencil-fill"></i></button>
                        
                        <button class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>